*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
.navbar{
    position: fixed;
    background-color: rgb(70, 70, 85);
    width: 100%;
    height: 6.5vh;
    z-index: 2;
}
.navbar ul{
    overflow: auto;
    text-align: center;
}
.navbar li{
    display: inline-block;
    list-style: none;
    margin: 1.6vh .8vh;
}
.navbar li a{
    padding: .8vh .5vh;
    border: 1px solid white;
    text-decoration: none;
    /* text-align: center; */
    color: white;
    font-size: 1.7em;
}
.navbar li a:hover{
    background-color: rgb(90, 90, 110);
}

.intro-section{
    background-image: url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?crop=entropy&cs=srgb&fm=jpg&ixid=M3w0NzYzMDB8MHwxfHNlYXJjaHw0fHxuYXR1cmV8ZW58MHx8fHwxNjkwNzI1MTcyfDA&ixlib=rb-4.0.3&q=85");
    width: 100%;
    height: 70vh;
    padding-top: 6.5vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.intro-section h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    text-shadow: 1.5px 1.5px 3px rgb(0, 0, 0);
}

.intro-section h4{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: white;
}

#section2{
    width: 100%;
    height: 120vh;
    padding-top: 6.5vh;
    align-items: center;
    /* align-items: stretch; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

#feature-area{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* padding-left: 12vw; */
}

.feature-content{
    width: 25%;
    height: 60vh;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    /* padding-left: 15vw; */
    text-align: center;
    /* position: relative; */
}

.feature-content img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.feature-content h1{
    position: absolute;
    align-items: center;
}

#blog-area{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog-content{
    width: 38.5%;
    height: 60vh;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    text-align: center;
}

#green{
    
    order: 1;
}

#blue{
    order: 2;
}

#red{
    order: 3;
}

#Left{
    order: 4;
}

#Right{
    order: 5;
}
