@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --black: #333;
    --light-color: #cdaa7c;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Styling navbar start */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

header .logo img{
    height: auto;
}

header .navbar a{
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    border: .1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
}

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}

header .icons i:hover{
    color: #fff;
    background: var(--light-color);
    transform: rotate(360deg);
}

header .icons #menu{
    display: none;
}

/* Styling navbar end */

/* Slider style start */

.home .home-slider .slide{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

.home .home-slider .slide1{
    background: url(pics/slideshow-11.jpg);
}

.home .home-slider .slide2{
    background: url(pics/slideshow-9.jpg);
}

.home .home-slider .slide3{
    background: url(pics/slideshow-10.jpg);
}

.home .home-slider .slide4{
    background: url(pics/slideshow-8.jpg);
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3,
.home .home-slider .slide4{
    background-size: cover;
    background-repeat: no-repeat;
}

.home .home-slider .slide .content{
    text-align: center;
    padding: 9rem;
}

.home .home-slider .slide .content h3{
    color: var(--light-color);
    font-size: 3rem;
    font-weight: 500;
}

.home .home-slider .slide .content h1{
    color: #fff;
    font-size: 8rem;
}

.home .home-slider .slide .content p{
    color: #e6e7e7;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 400;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: transparent;
    cursor: pointer;
    padding: .8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--light-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
}

.btn:hover.btn::before{
    left: 0;
}

.swiper-pagination-bullet{
    background: var(--light-color)!important;
    width: 15px!important;
    height: 15px!important;
    border-radius: 0!important;
}

/* Slider style end */

/* Welcome style start */

section{
    padding: 8rem 9%;   
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 4.5rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: 1.3px;
}

.sub-heading{
    text-align: center;
    color: var(--light-color);
    font-size: 2.5rem;
    padding: .5rem 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
    background: var(--black);
    display: inline-block;
}

.welcome .box-container{
    display: flex;
    gap: 1.5rem;
}

.welcome .box-container .box{
    width: 33%;
    background: var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 1%;
}

.welcome .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.welcome .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.welcome .box-container .box .image:hover img{
    transform: scale(1.1);
}

.welcome .box-container .box .content{
    padding: 2rem;
    padding-top: 2rem;
}

.welcome .box-container .box .content h3{
    color: var(--light-color);
    font-size: 2.2rem;
    font-weight: 600;
}

.welcome .box-container .box .content p{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    padding: .5rem 0;
    line-height: 1.5;
}

/* Welcome style end */

/* Media query */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    header .logo img{
        height: 7rem;
    }
}

@media (max-width: 768px){
    /* navbar media query */
    header .logo img{
        height: 7rem;
    }

    header .icons #menu{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(205, 170, 124, 0.2);
        border-bottom: .1rem solid rgba(205, 170, 124, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--black);
    }

    /* Slider media query */

    .home .home-slider .slide{
        justify-content: center;
        height: 80vh;
    }

    .home .home-slider .slide .content{
        padding: 0;
    }

    .home .home-slider .slide .content h1{
        font-size: 7rem;
    }

    /* Welcome section media query */

    .welcome .box-container{
        flex-wrap: wrap;
    }

    .welcome .box-container .box{
        width: 100%;
    }
}