.navbar{
    background-color: rgb(50, 50, 70);
    border-radius: 30px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 25px 20px;
}
.navbar li a{
    background-color: rgb(70, 70, 70);
    padding: 9px 5px;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
}
.navbar li a:hover{
    background-color: grey;
    border-radius: 10px;
}
.search{
    float: right;
    color: white;
    padding: 25px;
}
.navbar input{
    border: 3px solid black;
    border-radius: 10px;
    width: 120px;
}